@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fixed Dark Theme defaults */
body {
  @apply bg-slate-950 text-slate-100 antialiased h-screen w-screen overflow-hidden flex items-center justify-center;
}

#root {
  @apply w-full h-full flex flex-col;
}